/* Contact */
a[href$="inline_block%3Acontact"]:before {
  background-image: url("../icons/contact.svg") !important;
}

/* Contact list teaser */
a[href$="views_block%3Acontacts-block_contact_teaser"]:before {
  background-image: url("../icons/contact-list-teaser.svg") !important;
}

/* Contact list list */
a[href$="views_block%3Acontacts-block_contact_list"]:before {
  background-image: url("../icons/contact-list-list.svg") !important;
}
