<article{{ attributes.addClass('flex flex-col md:items-center') }}>
  <div class="w-full">
    {{ content.field_contact_image }}
  </div>
  <div class="flex flex-col w-full mt-3">
    <div class="font-bold text-lg text-gray-900">{{ label }}</div>
    <div class="text-gray-700">{{ content.field_contact_role }}</div>
    <div class="grid grid-cols-1 mt-3">
      <a class="text-blue-900 transition font-bold hover:underline hover:text-blue-700" href="mailto:{{ content.field_contact_email.0["#context"].value }}">{{ content.field_contact_email.0["#context"].value }}</a>
      <a class="text-blue-900 transition font-bold hover:underline hover:text-blue-700" href="tel:{{ content.field_contact_phone.0["#context"].value }}">{{ content.field_contact_phone.0["#context"].value }}</a>
      <a class="text-blue-900 transition font-bold hover:underline hover:text-blue-700" href="tel:{{ content.field_contact_mobile_phone.0["#context"].value }}">{{ content.field_contact_mobile_phone.0["#context"].value }}</a>
    </div>
  </div>
</article>
