<article{{ attributes.addClass('flex flex-col md:items-center') }}>
  <div class="flex w-full items-start py-4">
    <div class="w-16 h-16 rounded-full overflow-hidden mr-4 md:w-24 md:h-24">
      {{ content.field_contact_image }}
    </div>
    <div class="flex flex-col">
      <h2 class="font-bold text-lg text-gray-900">{{ label }}</h2>
      <div class="text-gray-700">{{ content.field_contact_role }}</div>
      <a class="text-blue-900 transition font-bold hover:underline hover:text-blue-700 mt-2" href="mailto:{{ content.field_contact_email.0["#context"].value }}">{{ content.field_contact_email.0["#context"].value }}</a>
      <a class="text-blue-900 transition font-bold hover:underline hover:text-blue-700" href="tel:{{ content.field_contact_phone.0["#context"].value }}">{{ content.field_contact_phone.0["#context"].value }}</a>
      <a class="text-blue-900 transition font-bold hover:underline hover:text-blue-700" href="tel:{{ content.field_contact_mobile_phone.0["#context"].value }}">{{ content.field_contact_mobile_phone.0["#context"].value }}</a>
    </div>
  </div>
</article>
